NEO4J_URI=neo4j+s://<instance-id>.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<password>
NEO4J_DATABASE=neo4j
AURA_INSTANCEID=<instance-id>
AURA_INSTANCENAME=rationode
ANTHROPIC_API_KEY=<anthropic-api-key>
DEMO_ACCESS_CODE=<access-code>
